:root {
  --branco: #fefefe;
  --cinza-claro: #888888;
  --cinza-mais-clarinho: d3d3d3;
  --laranja-pastel: #c78c19;
  --preto: #000000;
  --verde-claro: #088c19;
}
body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(var(--branco), var(--cinza-claro));
}

/* 
.produtos {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;

  border-radius: 5%;
  border: 3px solid #000000;
}

.produtos li:hover {
  border-color: #c78c19;
}

.produtos li:active {
  border-color: #088c19;
}

.produtos li:hover h2 {
  font-size: 36px;
}

.produtos h2 {
  font-weight: bold;
  font-size: 30px;
}

.product-description {
  font-size: 18px;
}

.product-price {
  font-weight: bold;
  margin-top: 10px;
}

 */

/* Novo Codigo Css */

/* Estilização Header */
.navbar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-list {
  display: flex;
  border-top: 1px solid var(--preto);
  border-bottom: 1px solid var(--preto);
}

.navbar-list-elements {
  margin: 0.75rem;
  font-size: 1.075em;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-list-elements:hover {
  color: #c78c19;
}

.image-logo {
  width: 10rem;
}

/* Products */



/* Footer */

footer {
  background: url(../img/bg2.jpg);
  text-align: center;
}

.copyright {
  color: var(--branco);
  font-size: 1rem;
}